{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'%}" rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>SkyXpress Booking</title>
</head>
<body>
    <h1>Please book your flight</h1>

    <form action="Bookings" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Where are you?" name="origin">
        <input type="text" placeholder="Where are you going?" name="destination">
        <br>
        <br>
        <input type="text" placeholder="When do you want to leave" name="departure_date">
        <input type="text" placeholder="Passenger(1 Adult, 1 Child etc.)" name="num_passengers">

        <button type="send">Submit</button>
        
    </form>
</body>
</html>