<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="Travel.css">
    <title>VIVA AIR</title>
</head>
<body>
    <nav>
        <div class="nav-logo">VIVA AIR</div>
        <ul class="nav-links">
            <li class="link"><a href="#">Home</a></li>
            <li class="link"><a href="#">About</a></li>
            <li class="link"><a href="#">Offers</a></li>
            <li class="link"><a href="#">Seats</a></li>
            <li class="link"><a href="#">Destinations</a></li>
        </ul>
        <button class="btn">Contact</button>
    </nav>
    <header class="section_container header_container">
        <h1 class="section_header">Tour the world with us</h1>
        <img src="eiffel-tower-2906526_1280-removebg-preview.png" alt="">
    </header>

    <section class="section_container booking_container">
        <div class="booking_nav">
             <span>Economy class</span>
             <span>Business class</span>
             <span>First class</span>
        </div>
        <form>
          <div class="form_group">
            <span><i class='bx bx-map'></i></span>
            <div class="input_content">
                <input type="text">
                <label>Location</label>
            </div>
            <p>Your destination</p>
          </div> 
          <div class="form_group">
            <span><i class='bx bx-user'></i></span>
            <div class="input_content">
                <input type="number">
                <label>Travellers</label>
            </div>
            <p>Add guests</p>
          </div> <div class="form_group">
            <span><i class='bx bx-calendar'></i></span>
            <div class="input_content">
                <input type="text">
                <label>Departure</label>
            </div>
            <p>Add date</p>
          </div> <div class="form_group">
            <span><i class='bx bx-calendar'></i></span>
            <div class="input_content">
                <input type="text">
                <label>Return</label>
            </div>
            <p>Add date</p>
          </div> 
          <button class="Btn"><i class='bx bx-search'></i></button>
        </form>
    </section>


    <section class="section_container plan_container">
      <p class="subheader">TRAVEL SUPPORT</p>
      <h2 class="section_header">Travel with ease</h2>
      <p class="description">Find and book flights.And experience class</p>

      <div class="plan_grid">
        <div class="plan_content">
          <span class="number">01</span>
          <h4>Travel Requirements for Dubai</h4>
          <p>
            Stay informed prepared for your trip to Dubai with essential travel requirements ,<br> ensuring a smooth and hassle-free experience in this vibrant and captivating city
          </p>
          <span class="number">02</span>
          <h4>Viva travel insurance</h4>
          <p>
            Comprehensive protection for your peace of mind,<br> covering a range of potential travel risk and unexpected events
          </p>
          <span class="number">03</span>
          <h4>Travel with ease</h4>
          <p>
            Stay informed and plan your trip  with ease,<br>as we provide up-to-date information on your trip
          </p>
        </div>

        <div class="plan_image">
          <img src="airplane-6867678_1280-png.jpg" alt="plan"/>
          <img src="airplane-4252410_1280-png.jpg" alt="plan"/>
          <img src="istockphoto-887546562-612x612.webp" alt="plan"/>
        </div>
      </div>
    </section>

    <section class="memories">
      <div class="section_container memories_container">
        <div class="memories_header">
          <h2 class="section_header">
            Travel to make memories all around the world
          </h2>
          <button class="view_all">View All</button>
        </div>
        <div class="memories_grid">
          <div class="memories_card">
            <span><i class='bx bxs-calendar'></i></span>
            <h4>Book & relax</h4>
            <P>
              With "Book & Relax" you can sit back, unwind and enjoy the
              journey while we take care of everthing else.
            </P>
          </div>

          <div class="memories_grid">
            <div class="memories_card">
              <span><i class='bx bx-check-shield'></i></span>
              <h4>Smart Checklist</h4>
              <P>
               Introducing Smart Checklist with us, the innovative solution
               revolutionzing  the way to travel with our airline
              </P>
            </div>

            <div class="memories_grid">
              <div class="memories_card">
                <span><i class='bx bx-bookmark-minus'></i></span>
                <h4>Save More</h4>
                <P>
               From discounted ticket prices to exclusive promotions and deals,
               we prioritize affordability without compromising on quality.
                </P>
              </div>
        </div>
      </div>
    </section>
</body>
</html>